/*Tablet*/
@media only screen and (max-width: 1023px) and (min-width: 740px) {
    
}

/* Mobile */
@media only screen and (max-width: 739px) {
    .flex-between {
        flex-direction: column;
    }

    .content_form_item_change {
        margin-left: 0;
        margin-top: 8px;
    }
}

/* 2 screen */
@media only screen and (max-width: 1023px) {
    .w-260 {
        min-width: 260px;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        display: none;
    }
    .content {
        width: 100%;
        padding: 0;
        margin: 0;
        
    }

    .content_form {
        margin-left: 0;
    }

    .content_form_item_change {
        display: none;
    }

    .content_password_text,
    .content_text {
        display: flex;
        justify-content: space-between;
    }

    .content_title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    .content_text_title {
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
    }

    .content_password_text,
    .content_form_item_label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: left;
    }

    .content_password {
        margin-top: 24px;
    }

    .content_password_text {
        margin-top: 24px;
    }

    .content_form_item_input input::placeholder,
    .content_form_item_input {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .content_form_item_input_item {
        margin-left: 4px;
    }
    
    .w-312 {
        min-width: 250px;
    }

    .content_password_text_change,
    .content_text_edit {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        text-decoration-line: underline;

        color: #4FCFE6;
    }

    .content_password {
        display: block;
    }
}