/*Viết style css vào đây*/
header {
	width: 100vw;
	height: 6rem;
	background: #ee8488;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
/* main navigation */
.main-nav {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
}
.main-nav li,
.main-nav svg {
	height: 100%;
	line-height: 96px !important;
}
.main-nav li a {
	color: white;
	font-size: 1rem;
}
.main-nav > li:nth-child(2):hover > a,
.main-nav > li:nth-child(3):hover > a {
	font-weight: bold;
}
.main-nav li:nth-child(2):hover .sub-nav-dth,
.main-nav li:nth-child(3):hover .sub-nav-pkien,
.main-nav li:nth-child(5):hover .searchBox {
	visibility: visible;
}
/* Dien thoai, phu kien navigation */
.sub-nav-dth,
.sub-nav-pkien {
	width: 100vw;
	height: 20rem;
	position: absolute;
	top: 6rem;
	left: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	visibility: hidden;
}
.sub-nav-dth li,
.sub-nav-pkien li {
	text-align: center;
	line-height: 6rem;
}
.sub-nav-dth li a,
.sub-nav-pkien li a {
	color: black;
	font-weight: bold;
}
/* Search box */
.searchBox {
	width: 100vw;
	height: 96px;
	padding: 16px;
	position: absolute;
	top: 96px;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}
.searchBox svg {
	display: inline-block;
}
.searchBox svg:nth-child(1),
.searchBox svg:nth-child(3) {
	color: #ee8488;
	margin-right: 28px;
	width: 24px;
	height: 24px;
}
.searchBox svg:nth-child(3) {
	cursor: pointer;
}
.searchBox input {
	width: 400px;
	height: 29px;
	background: transparent;
	outline: none;
	font-size: 16px;
	color: black;
}
.searchBox input::placeholder {
	color: #ee8488;
}
