/*Viết base.css ở đây*/
:root {
  --white-color:#fff;
  --black-color:#000;
  --gray-text-color: rgba(0, 0, 0, 0.5);
  --primary-color:#EE8488;
  --blue-color: #4FCFE6;
  --border-color: #dbdbdb;

}

.p-t-12 {
  padding-top: 12%;
}

.p-t-16px {
  padding-top: 16px;
}

.p-t-40px {
  padding-top: 40px;
}

.p-b-8px {
  padding-bottom: 8px;
}

.p-t-24px {
  padding-top: 24px;
}

.m-t-14 {
  margin-top: 14%;
}

.m-t-24px {
  margin-top: 24px;
}

.m-t-8 {
  margin-top: 8%;
}

.m-t-4 {
  margin-top: 4%;
}


.color-grey {
  color: var(--gray-text-color);
}

.bg-color-primary {
  background-color: var(--primary-color);
}

.bg-color-blue-color {
  background-color: var(--blue-color);
}

/* Button */
.sign-in-btn {
  width: 100%;
  border-radius: 100px;
  color: var(--white-color);
  padding: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
