@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SFPRO';
  src: url('../public/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
